

.Nav {
    list-style-type: none;
    text-decoration: none;
}

.Link{
    text-decoration:none;
    color:black;
    font-weight:bold
}
a {
    text-decoration: none;
    color: black;
    font-size: medium;
}
a:hover {
    color: rgb(9, 4, 4);
    font-style: italic;
}
.img-container {
    position: relative;
    width: 100%;
    height: 500px; /* or the height of your image */
    overflow: hidden;
}

.img {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 500px;
    z-index: -1; /* Keeps the image behind the navigation */
}

.homeimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Header {
    display: flex;
    justify-content: flex-end;
    z-index: 1; 
}
.Nav {
    cursor: pointer;
    color: black;
    list-style-type: none;
    margin:10px;
    padding:0 5px 5px 0
    
}
.main-vision{
    /* background-color: whitesmoke; */
    background-size: cover;
    height: 400px;
}
.vision {
    text-align: center;
    padding: 10px 0px;
}
.vision-text{
    font-size: 30px;
    padding:5px 500px;
    color: rgb(69, 69, 158);
}
.footer {
   
    display: flex;
    justify-content: space-around;
    height: 300px;
   
  
}
.footer-main{
    background-color: lightgray;
}
li{
    list-style-type: circle;
cursor: pointer;
    padding:10px;
    
}
.adress{
    text-align: center;

}

.copyright{
    margin-bottom: 10px;
}

